@model IPagedList<TeamOutputModel>
@using Sneat.MVC.Models.DTO.Team;
@using PagedList;
@using PagedList.Mvc;
@using Sneat.MVC.Models.DTO.User
@using Sneat.MVC.Common
@{ UserDetailOutputModel ss = (UserDetailOutputModel)HttpContext.Current.Session[SystemParam.SESSION_LOGIN];
    if (ss == null)
    {
        Response.Redirect("/Home/Login");
    }
}

<table class="table table-bordered table-striped text-center" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên </th>
            <th>Thành viên</th>
            <th>Trạng thái </th>
            <th>Ngày tạo</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @{
            if (Model.Count() <= 0)
            {
                <tr>
                    <td colspan="8">Không có dữ liệu.</td>
                </tr>
            }
            else
            {

                int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                foreach (var data in Model)
                {

                    <tr>
                        <td>@stt </td>
                        <td>@data.Name</td>
                        <td>
                            <div class="d-flex align-items-center avatar-group">
                                @foreach (var user in data.UserTeams)
                                {
                                    <div class="avatar pull-up"
                                         data-bs-toggle="tooltip"
                                         data-popup="tooltip-custom"
                                         data-bs-placement="top"
                                         title="@user.UserName">
                                        <img src="@user.UserAvatar" alt="Avatar" class="rounded-circle" />
                                    </div>
                                }
                            </div>
                        </td>
                        @if (data.Status == SystemParam.ACTIVE)
                           {
                               <td style="font-size: 13px"><span class="badge bg-label-success me-1">@data.StatusStr</span></td>
                           }
                           else if (data.Status == SystemParam.IN_ACTIVE)
                           {
                               <td style="font-size: 13px"><span class="badge bg-label-danger me-1">@data.StatusStr</span></td>
                           }
                        <td>@data.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            <div class="dropdown">
                                <button type="button"
                                        class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    @if (ss.PermissionTabs.Contains("updateTeamTab"))
                                    {
                                        <a class="dropdown-item" @*data-bs-toggle="modal" data-bs-target="#updateApp"*@ onclick="updateTeamModal(@data.ID)"><i class="bx bx-edit-alt me-1"></i> Sửa đội nhóm</a>
                                    }
                                    @if (ss.PermissionTabs.Contains("deleteTeamTab"))
                                    {
                                        <a class="dropdown-item" onclick="deleteTeam(@data.ID)"><i class="bx bx-trash me-1"></i> Xóa đội nhóm</a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                    stt++;

                }
            }
        }

    </tbody>
</table>
<div class="col-md-12">
    <div class="row float-right">
        @*phân trang*@
        @Html.PagedListPager(Model, Page => Url.Action("Search", new { Page, search = "" }),
                 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                 {
                     HttpMethod = "GET",
                     UpdateTargetId = "list_team"
                 })
                 )
    </div>
</div>
