@Html.Partial("SneatProComponents/Localization/_Variables")
@using Sneat.MVC.Models.DTO.User
@using Sneat.MVC.Common
@{
    TempData.Keep();
    Layout = "SneatProComponents/_CommonMasterLayout.cshtml";

}

@section VendorStyles{
    @RenderSection("VendorStyles", required: false)
}

@section PageStyles{
    @RenderSection("PageStyles", required: false)
}

@section VendorScripts{
    @RenderSection("VendorScripts", required: false)
}

@section PageScripts{
    @RenderSection("PageScripts", required: false)
}

@{ UserDetailOutputModel ss = (UserDetailOutputModel)HttpContext.Current.Session[SystemParam.SESSION_LOGIN];
    if (ss == null)
    {
        Response.Redirect("/Home/Login");
    }
}

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        @Html.Partial("SneatProComponents/LayoutComponent/_VerticalMenu")

        <div class="layout-page">
            @Html.Partial("SneatProComponents/LayoutComponent/_Navbar")
            <div class="content-wrapper">
                @RenderBody()
                @Html.Partial("SneatProComponents/LayoutComponent/_Footer")
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    @Html.Partial("SneatProComponents/UI/_Modal")
</div>